POSTGRES_DB=autolycus              # Postgresql database name
POSTGRES_USER=admin                # Postgresql username
POSTGRES_PASSWORD=admin            # Postgresql password
API_URL=http://localhost:5000/api  # Endpoint at which the api will be serving
